.map{
    position: relative;
    width: 90%;
    height: 400px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 70px;
        top: calc(50% - 24px);
        left: 50%;
        transform: translate(-50%,-50%);
        background: url("/img/pin_black.svg") center no-repeat;
        background-size: 100% 100%;
        z-index: 99;
    }
    .button{
        position: absolute;
        bottom: 10px;
        background: #C2F62C;
        left: 50%;
        padding: 20px 40px;
        border-radius: 5px;
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 500px) {
    .map{
        width: 100%;
        height: 80%;
        .button{
            font-size: 10px;
        }
    }
}
