.restaurant{
    padding: 20px 0px;
    background: #F0F4F5;
    &-xs{
        display: inline-block;
    }
    &-desktop{        
        &__long{
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            font-weight: normal;
            line-height: 27px;
            font-size: 16px;
            text-align: right;
            color: #3F3F48;
            opacity: 0.5;
            position: relative;
            min-height: 120px;
            line-height: 120px;   
            border-right: 1px#F5F5F5 solid;         
            padding-right: 40px;
        }        
        &__location{
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            color: #3F3F48;
            position: relative;
            min-height: 120px;
            line-height: 120px;   
            padding-left: 40px;
            padding-right: 30%;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            color: #3F3F48;     
            img{
                vertical-align: middle;
                margin-right: 10px;
            }       
        }
        &__ins{
            margin: 0 auto 20px;
            background: white;
            display: block;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            color: #3F3F48;
            position: relative;
            line-height: 120px;
            .img{
                vertical-align: middle;
                margin-right: 10px;
            }
            .delete{
                position: absolute;
                top: 50%;
                right: 10px;
                .translate(-50%,-50%);
            }              
            &-p{
                font-style: normal;
                font-weight: normal;
                min-height: 120px;
                line-height: 120px;
                font-size: 15px;
                color: #3F3F48;
                opacity: 0.75;    
                display: inline-block;
                vertical-align: middle;
                padding-left: 8em;            
            }
            &--title{
                display: inline-block;
                vertical-align: middle;
                font-style: normal;
                min-height: 120px;
                line-height: 120px;
                font-weight: 600;
                font-size: 10px;
                letter-spacing: 0.3em;
                text-transform: uppercase;                
            }
        }
    }
    .flexbox{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__num{
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 16px;
        .input-number {
            width: 60px;
            background: #E9FDE2;
            border: none;
            padding: 0 12px;
            vertical-align: top;
            text-align: center;
            outline: none;
          }

          .input-number,
          .input-number-decrement,
          .input-number-increment {
            height: 28px;
            user-select: none;
          }

          .input-number-decrement,
          .input-number-increment {
            display: inline-block;
            width: 28px;
            line-height: 28px;
            background: #B7FD9F;
            color: #31BA00;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            position: relative;
          }
          .input-number-decrement:active,
          .input-number-increment:active {
            background: #ddd;
          }

          .input-number-decrement {
            border-radius: 50%;
            left: 20px;
          }

          .input-number-increment {
            border-radius: 50%;
            right: 20px;
          }

    }
    &__price-2{
        padding-left: 20px;
        padding-top: 8px;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        font-size: 13px;
        color: #3F3F48;
        display: inline-block;
    }
    &__ins-2{
        background: white;
        width: 90%;
        position: relative;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 1px #EDEDED solid;
    }
    &__p{
        font-style: normal;
        font-weight: 200;
        line-height: 18px;
        font-size: 13px;
        color: #3F3F48;
        padding-left: 20px;
    }
    &__text{
        font-style: normal;
        font-weight: 600;
        vertical-align: middle;
        line-height: 20px;
        font-size: 14px;
        color: #3F3F48;
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        .vm{
            margin-right: 5px;
        }
        .delete{
            position: absolute;
            top: 60%;
            right: 10px;
            .translate(-50%,-50%);
        }
    }
    &__more{
        padding: 20px 20px 20px;
        position: relative;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 11px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #3F3F48;

        &-inner{
            position: absolute;
            letter-spacing: normal;
            top: 32px;
            width: 72px;
            text-align: right;
            right: 20px;
        }
    }
    &__line{
        width: 100%;
        height: 1px;
        background: #EFEFEF;
        margin-bottom: 10px;
    }
    &__price{
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 13px;
        text-align: right;
        text-transform: uppercase;
        color: #3F3F48;
        position: relative;
        display: inline-block;
        img{
            position: absolute;
            left: -20px;
            top: 3px;
        }
    }
    &__long{
        font-style: normal;
        margin-left: 10px;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        text-align: right;
        display: inline-block;
        color: #757575;
        &-desktop{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 13px;
            text-align: right;
            color: #757575;
            &--event{
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 13px;
                text-align: right;
                color: rgba(63, 63, 72, 0.5);                
            }
        }
    }
    &__title{
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 11px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #333333;
        position: relative;
    }
    &__name{
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 10px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #3F3F48;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        span{
            display: inline-block;
            width: 170px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
        .img{
            vertical-align: middle;
            margin-right: 10px;
        }
        .delete{
            position: absolute;
            top: 50%;
            right: 10px;
            .translate(-50%,-50%);
        }
    }
    &__desc{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        color: rgba(51, 51, 51, 0.5);
    }
    &__event{
        padding-left: 14px;
        position: relative;
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        font-size: 15px;
        color: #3F3F48;
    }
    &__x{
        position: absolute;
        right: 10px;
        top: 0px;
    }
    &__delete{
        padding-left: 12px;
        position: relative;
        font-style: normal;
        padding-bottom: 15px;
        font-weight: normal;
        line-height: 21px;
        font-size: 15px;
        color: rgba(63, 63, 72, 0.75);
    }
    &__ins{
        width: 90%;
        margin: 0 auto 20px;
        background: white;
        display: block;
        padding-bottom: 10px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        &--desktop{
            height: 387px;
            width: 420px;
            margin: 0 0px 40px;
            background: white;
            display: inline-block;
            padding-bottom: 10px;
            position: relative;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
            .delete{
                background: rgba(255,255,255,.75);
                width: 44px;
                height: 44px;
                position: absolute;
                right: 15px;
                top: 10px;
                text-align: center;
                border-radius: 50%;
            }
        }
        &-p{
            padding-left: 14px;
            width: 65%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            &--2{
                padding-left: 14px;
                width: 34%;
                display: inline-block;
                vertical-align: top;
                position: relative;
            }
        }
        &-price{
            width: 30%;
            display: inline-block;
            text-align: right;
            &--2{
                width: 62%;
                display: inline-block;
                text-align: right;
            }
        }
    }
    &__img{
        width: 100%;
        margin-bottom: 20px;
    }
    &__brand{
        position: absolute;
        top: -70px;
        left: 15px;
    }
}
.about{
    min-height: 670px;
    background: white;
    &__h3{
        font-style: normal;
        font-weight: 600;
        padding: 40px 50px;
        font-size: 44px;
        line-height: 52px;
        color: #282828;
        border-bottom: 1px #EFEFEF solid;
    }
    &__left{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 170%;
        color: #282828;
        padding: 50px;
    }
    &__right{
        padding: 50px 50px 50px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        color: #707070;
    }
}
