.events{
    width: 100%;
    height: 50px;
    background: #C2F62C;
    background-size: cover;
    padding-top: 18px;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #144E00;    
    &__arrow{
        position: absolute;
        left: 10px;
        top: 18px;
    }
    &-title{
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000000;
        padding: 60px 0;
    }
}
.announce{
    width: 100%;
    height: 80px;
    background: #C2F62C;
    text-align: center;
    position: relative;
    &__back{
        font-style: normal;
        text-align: left;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #144E00;
        background: #C2F62C;
        line-height: 80px;
    }
    &__title{
        line-height: 80px;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #3F3F48;
    }
    img{
        vertical-align: middle;  
        margin-right: 15px;      
    }
}
.profile{
    width: 100%;
    height: 120px;
    background: #C2F62C;
    background-size: cover;
    padding-top: 18px;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #144E00;
    &__account{
        position: absolute;
        right: 16px;
        top: 32px;
    }
    .pl-20{
        padding-top: 12px;
    }
    &-desktop{
        width: 360px;
        height: 120px;
        background: #C2F62C;
        background-size: cover;
        padding-top: 18px;
        vertical-align: middle;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #144E00;        
    }
    &-photo{
        margin-top: 20px;
        max-width: 150px;
    }
    &-padding{
        padding-top: 50px;
    }
    &__btn{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #3F3F48;     
        padding: 20px 20px;
        border-top: 1px #EDEDED solid;
    }
    &__name{
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        font-size: 15px;
        text-align: center;
        color: rgba(63, 63, 72, 0.75);        
    }
    &__phone{
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        font-size: 24px;
        text-align: center;
        color: #3F3F48;        
        padding-bottom: 30px;
    }
}
.favorite{
    background: white;
    text-align: center;
    &-food{
        vertical-align: middle;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        line-height: 37px;
        font-size: 26px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000000;
        padding: 30px 0;
        border-bottom: 1px solid #EDEDED;
        img{
            vertical-align: middle;
            margin-right: 10px;
        }    
    }
    &-rest{
        border-bottom: 1px solid #EDEDED;
        .flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &__bottom{
                align-items: center;
            }
        }        
        &__el{
            &-whole{
                display: inline-block;
                margin: 0 1em;
            }
            display: inline-block;
            vertical-align: middle;
            .active{
                background: #C2F62C;
                &-bold{
                    font-weight: bold;
                    color: #3F3F48;
                }
            }
            &--info{
                text-align: center;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 15px;
                text-align: center;
                color: #3F3F48;
            }
            &--btn{
                margin: 0 auto 15px;
                width: 56px;
                height: 56px;
                text-align: center;
                line-height: 56px;
                border-radius: 50%;
                img{
                    vertical-align: middle;
                }
            }
        }
        &__text{
            display: inline-block;
            vertical-align: middle;
            &-title{
                font-style: normal;
                font-weight: 600;
                line-height: 51px;
                font-size: 36px;
                color: #3F3F48;
            }
            &-p{
                font-style: normal;
                font-weight: normal;
                line-height: 23px;
                font-size: 16px;
                color: #3F3F48;
            }
        }
        &__info{
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            font-size: 16px;
            color: #3F3F48; 
            display: inline-block;
            width: 420px;
            vertical-align: middle;
        }        
        &__btn{
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 34px;
            border-radius: 50%;
            margin-left: 25px;
        }
    }
    &__btn{
        padding: 18px 0px 15px 0;
        margin: 0 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #3F3F48;
        position: relative;
        &-1{
            padding: 22px 0px 20px 0;
            margin: 0 4em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-size: 11px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #3F3F48;
            position: relative;            
        }
    }
    .active{
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: #C2F62C;
        }            
    }    
}
.method{
    background: #F0F4F5;
    text-align: center;
    &__el{
        width: 90%;
        margin: 0 auto 20px;
        background: white;
        min-height: 200px;
        vertical-align: middle;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        &-text{
            padding-top: 30px;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            color: #3F3F48;            
        }
        img{
            vertical-align: middle;
            padding-top: 50px;
        }
    }
    &__element{
        height: 300px;
        margin: 0 0px 30px;
        flex-basis: 50%;
        cursor: pointer;
        background: white;
        vertical-align: middle;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        &-text{
            padding-top: 50px;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            color: #3F3F48;            
        }
        img{
            margin-top: 50px;
            vertical-align: middle;
        }
    }    
}
.info{
    &__inner{
        padding: 25px 20px 0;
        border-bottom: 1px #EDEDED solid;
        &--title{
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 16px;
            color: #3F3F48;
            padding-bottom: 20px;
        }
        &--show{
            padding-bottom: 10px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            color: #3F3F48;            
        }
    }
}
.searching{
    padding: 5px 20px;
    border-bottom: 1px #EDEDED solid;
    overflow: hidden;
    position: relative;
    &__x{
        position: absolute;
        right: 16px;
        top: 14px;
    }
    label{
        position: absolute;
        top: 14px;
        left: 16px;
        z-index: 99;
        display: inline-block;
    }
    input{
        border: none;
        width: 100%;
        padding: 10px 0px 10px 25px;
        font-family: Rubik;
    }
}
.verify{
    &__btn{
        background: #81E45E;
        color: #025514;
        border-radius: 100px;
        padding: 15px 0px;
        margin: 10px 0 20px;
        width: 80%;
    }
    &__phone{
        margin-top: 70px;
    }
    &__about{
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        color: #3F3F48;    
        padding: 60px 10px 0;
        a{
            color: rgba(63, 63, 72, 0.5);
        }    
    }
    &__input{
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #DFDFDF;
        font-style: normal;
        font-weight: normal;
        line-height: 34px;
        font-size: 1.7rem;
        color: #3F3F48;
        vertical-align: top;
        &-2{
            max-width: 300px !important;
        }
        label{
            vertical-align: middle;
            display: inline-block;
        }
        input{
            border: none;
            max-width: 210px;
            position: relative;
            top: 0px;
            display: inline-block;
            font-family: Rubik , sans-serif;
            vertical-align: middle;
            font-style: normal;
            font-weight: normal;
            line-height: 34px;
            font-size: 1.7rem;
            color: #3F3F48;
        }
    }
    &__note{
        padding-top: 10px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        font-size: 16px;
        text-align: center;
        color: rgba(63, 63, 72, 0.75);        
    }
    &__sms{
        padding-top: 22px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #3F3F48;        
    }
}
.mark{
    width: 100%;
    height: 50px;
    background-size: cover;
    padding-top: 18px;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    &__info{
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        color: #3F3F48;
        max-width: 280px;
        margin: 40px auto 0;
    }
    &__wrap{
        position: relative;   
        padding: 0px 20px 10px;
        margin-top: 30px;
        min-width: 300px;
        border-bottom: 1px #E1EAEC solid;
    }
    &__add{
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 16px;
        color: #3F3F43;
        input[type=radio]{
            display: none;
        }
        input[type=radio]:checked + label{
            background: #5eef7c;            
            color: black;
        }
        label{
            border-radius: 5px;
            display: inline-block;
            padding: 8px 10px;
            background: black;
            color: white;
            .transition(.2s background ease-out);
        }
        input[type=text]{
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 16px;
            color: #3F3F43;
        }     
    }
    &__text{
        font-style: normal;
        width: 120px;
        text-align: left;
        font-weight: 600;
        line-height: 23px;
        font-size: 16px;
        color: #3F3F43;
    }
    &__stars{
        position: absolute;
        right: 20px;
        top: 0px;
    }
}
#wrapper {
    text-align: center;
    #dialog {
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    
    #form {
      input {
        margin: 0 5px;
        text-align: center;
        line-height: 50px;
        font-family: Rubik;
        width: 40px;
        font-size: 24px;
        color: #3F3F48;
        transition: all .2s ease-in-out;
        border: none;
        border-bottom: 1px solid #3F3F48;
      }
      
      button {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
      }
    }
    
    button {
      &.close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
      }           
    }
    
    div {
      position: relative;
      z-index: 1;
    }
  }
}
.history{
    &-desktop{
        display: flex;
        flex-flow: row wrap;
        & > * {
            flex: 1 100%;
        }
        .aside{
            flex: 1 auto;
            &-1{
                order: 1;
            }
        }
        .foot{
            order: 3;
            border-top: 1px #EDEDED solid;
            display: flex;
            height: 60px;
            align-content: center;
            align-items: center;
            &__info{
                display: inline-block;
                max-width: 200px;
                padding-bottom:20px;
            }
        }
        .main{
            padding-left: 30px;
            flex: 12 0px;
            order: 2;
        }
    }
    padding: 20px 0;
    &__ins{
        &-p{
            font-style: normal;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #3F3F48;  
            border-right: 1px #F5F5F5 solid;
        }
        &-price{
            display: inline-block;
            font-weight: normal;
            font-size: 18px;
            color: #3F3F48;
            flex: 1;
            order: 2;
            padding-right: 20px;
        }
    }
    &__status{
        font-style: normal;
        font-weight: 600;
        flex: 1;
        order: 1;
        text-align: left;
        padding-left: 20px;
        border-left: 1px #F5F5F5 solid;
    }    
    &__info{
        padding: 5px 20px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        justify-content: center;
        &-desk{
            display: inline-table;
            font-size: 14px;
            line-height: 26px;
            color: #3F3F48;
            margin-left: 25%;
            max-width: 500px;
            td{
                padding: 0px 10px;
            }
        }
        font-size: 14px;
        flex-wrap: wrap;
        color: #3F3F48;
        &-name{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            color: #3F3F48;
            flex: 3;
            text-align: left;
        }
        &-price{
            flex: 2;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-align: right;
        }
        &-quantity{
            flex: 1;
            text-align: right;
        }
    }
    &__status{
        font-size: 14px;
        color: #3F3F48;
        .bold{
            font-weight: 600;
        }
    }
}
.food{
    padding: 60px 0 60px;
    background: #F1F8F8;
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__el{
        // flex-basis: 100px;
        display: inline-block;
        width: 400px;
        height: 375px;
        margin-bottom: 40px;
        background: white;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        &-add{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: #C4F8B2;
            position: absolute;
            right: 15px;
            top: 200px;
            img{
                width: 14px;
                vertical-align: middle;
            }
        }
        &-main{
            position: relative;
            padding: 10px 15px 0px 15px;
            &--title{
                font-style: normal;
                font-weight: 600;
                line-height: 23px;
                font-size: 16px;
                color: #3F3F48;
            }
            &--price{
                font-style: normal;
                font-weight: normal;
                line-height: 27px;
                font-size: 16px;
                text-align: right;
                color: #258F00;
                opacity: 0.75; 
                position: absolute;
                right: 15px;
                top: 9px;               
            }
            &--info{
                padding-top: 15px;
                font-style: normal;
                font-weight: 300;
                line-height: 23px;
                font-size: 14px;
                color: #3F3F48;            
            }
        }
        &-img{
            width: 100%;
        }
    }
}

.search-result{
    border-bottom: 1px #EDEDED solid;
    img{
        vertical-align: middle;
    }
    input{
        height: 50px;
        width: 90%;
        padding-left: 10px;
        vertical-align: middle;
        margin: 0 auto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: #3F3F48;
        font-family: Rubik;
        position: relative;
        border: none;
    }
    .delete{
        position: absolute;
        right: 0;
        top: 50%;
        .translate(0%,-50%);
    }
}
.popup{
    padding: 31px 0 32px;
    background: #C2F62C;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #144E00;
    position: relative;
    &-white{
        padding: 31px 0 32px;
        background: white;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        font-size: 12px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #144E00;
        position: relative;        
    }
}
.popup-over{
    //display: none;
    width: 360px;
    min-height: 480px;
    background: white;
    position: absolute; 
    top: -32px;
    right: -16px;
    z-index: 20;
}
.checkout{
    padding-top: 30px;
    &__info{
        vertical-align: top;
        display: inline-block;
        max-width: 200px;
        height:80px;
        padding-bottom:20px;
    }
    &__price{
        display: inline-block;
        margin-left: 12%;
        font-size: 18px;
    }
}
