.info{
    padding-bottom: 60px;
    &__h2{
        padding-top: 60px;
        font-style: normal;
        font-weight: normal;
        line-height: 66px;
        font-size: 39px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #282828;        
        padding-bottom: 40px;
    }
    &__title{
        &-1{
            font-style: normal;
            font-weight: normal;
            line-height: 43px;
            font-size: 26px;
            color: #282828;           
        }
        &-2{
            font-style: normal;
            font-weight: normal;
            line-height: 27px;
            font-size: 16px;
            color: #707070;            
        }
        &-3{
            font-style: normal;
            font-weight: normal;
            line-height: 27px;
            font-size: 16px;
            color: #707070;            
        }        
    }
}