@media (min-width: @screen-lg) {
    .lg-hidden{
        display: inline-block;
    }
}
@media (max-width: @screen-lg) {
    .history__info-desk{
        margin-left: 4%;
    }
    .slider__date {
        margin-top: 90px;
    }
    .flex-auto{
        flex: 1 auto;
        text-align: right;
    }
    .favorite-rest__el--btn{
        display: inline-block;
        margin: 0;
    }
    .flex__bottom{
        .vm{
            margin-right: 25px;
        }
    }
    .favorite-rest__el-whole{
        margin: 0 0.7em;
    }
    .favorite-rest__info{
        padding-top: 10px;
        margin-left: 30px;
        max-width: 520px;
    }
    .favorite-rest__el--info{
        display: inline-block;
    }
    .lg-hidden{
        display: none;
    }
    .col-md {
        padding-bottom: 20px;
    }
    .footer__number{
        padding-left: 0;
    }
    .footer__socials{
        padding-left: 0;
        padding-bottom: 0;
    }
    .footer__stores{
        padding-left: 0;
    }
    .nav__supp {
        padding-left: 0;
    }
    .item__text{
        width: auto;
        padding-right: 20px;
    }
    .item__p{
        max-width: 275px;
    }
    .item__price-2{
        padding-right: 15px;
    }
    .dispnone{
        display: block;
        margin: 20px auto;
    }
}
@media(min-width: 481px){
    .mobile{
        display: none;
        visibility: hidden;
    }
    .mob{
        display: none;
    }
    .desktop{
        visibility: visible;
    }
    .profile-padding{
        width: 360px;
        background: white;
    }
    .slider__title {
        font-size: 1.5em;
    }
    .slider__inner{
        height: 500px;
    }
}

@media (min-width: 576px) {
    .slider__title {
        font-size: 2em;
    }
}


@media (min-width: @screen-md) {
    .col-md {
        float: left;
        width: initial;
    }
    .md-show{
        display: none;
        &--block{
            display: none;
        }
    }
}

@media (max-width: @screen-md) {
    .favorite-rest .flex__bottom{
        flex: 1 auto;
    }
    .rest__location p{
        display: block;
    }
    .restaurant-desktop__ins-p{
        padding-left: 35px;
    }
    .restaurant-desktop__location{
        padding-right: 50px;
    }
    .restaurant-desktop__long{
        padding-right: 10px;
    }
    .favorite-rest__info{
        max-width: 420px;
    }
    .favorite-rest .flex{
        justify-content: space-between;
    }
    .flex-auto{
        flex: none;
        text-align: left;
    }
    .footer{
        padding: 60px 0 30px;
    }
    .md-block{
        display: block;
        padding-top: 0;
        margin-left: 0;
    }
    .rest__delivery p{
        display: block;
    }
    .nav__number {
        font-size: 22px;
    }
    .nav__cart--price{
        display: none;
    }
    .nav__supp{
        display: none;
    }
    .nav__events{
        display: none;
    }
    .md-hide{
        display: none;
    }
    .md-local{
        padding-top: 0px;
        padding-right: 0px;
        vertical-align: middle;
        padding-left: 10px;
    }
    .md-show{
        display: inline-block;
        &--block{
            display: block;
        }
    }
    .md-socials{
        padding: 50px 0 20px;
    }
    .md-stores{
        display: block;
    }
    .footer__stores--padd{
        padding-left: 50px;
    }
    .footer__stores--1{
        display: inline-block;
        padding-bottom: 0;
    }
    .footer__socials li{
        margin: 0 20px 0 0;
    }
    .footer__stores{
        padding-top: 30px;
        padding-left: 0;
    }
    .cont-fix{
        width: auto;
    }
    .nav__eve{
        padding-right: 20px;
        vertical-align: middle;
    }
    .search__text{
        display: none;
    }
    .search{
        text-align: center;
    }
    .search__input::placeholder{
        color: #505050;
    }
    .categories__filter-el img{
        display: none;
    }
    .md-hidden{
        display: none;
        visibility: hidden;
    }
    .categories-info__parallax-el{
        &-3{
            left: -5% !important;
            bottom: 0 !important;
        }
        &-6{
            left: -5% !important;
            top: 80px !important;
        }
        &-7{
            right: 0 !important;
        }
        &-8{
            right: 0 !important;
            bottom: -150px !important;
        }
    }
    .footer__number{
        padding-left: 0;
    }
    .padding-fix{
        padding-left: 0;
        padding-right: 0;
    }
    .rest--info{
        font-size: 12px;
    }
    .item{
        padding: 30px 15px;
        text-align: center;
    }
    .item__text img{
        width: 60px;
    }
    .item__text h3{
        font-size: 13px;
    }
    .item__p{
        font-size: 12px;
        max-width: 220px;
        text-align: left;
    }
    .item__price-2{
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .favorite-rest .flex{
        justify-content: center;
    }
    .favorite-rest__info{
        max-width: 300px;
    }
}
@media (min-width: @screen-sm) {
    .slider__title {
        font-size: 2.5em;
    }
}

@media (max-width: @screen-sm) {
    .history__info-desk{
        margin-left: 0;
        font-size: 12px;
    }
    .about__left{
        padding: 50px 50px 0px 0;
    }
    .proccess{
        &__element{
            flex-basis: auto;
            min-height: auto;
        }
        &__item{
            height: 100px;
            .dots-big{
                width: 170px;
            }
        }
        &__status{
            padding-left: 10px;
            padding-bottom: 20px;
        }
        &__text , &__address--title , &__address--text{
            padding-left: 15px;
        }
    }
    .method .d-flex{
        display: block;
    }
    .cont-mobile{
        padding-left: 0;
        padding-right: 0;
    }
    .method__element{
        height: 230px;
        &-text{
            font-size: 12px;
        }
        img{
            height: 70px;
            margin-top: 30px;
        }
    }
    .favorite-rest__el-whole{
        margin: 0 0.5em;
    }
    .favorite-rest .flex__bottom{
        text-align: center;
    }
    .favorite-rest__info{
        padding-top: 0;
    }
    .restaurant-desktop__ins-p, .restaurant-desktop__ins--title{
        line-height: 0;
        min-height: 20px;
        padding-left: 0;
        display: block;
    }
    .restaurant-xs{
        padding-top: 25px;
    }
    .restaurant-desktop__location{
        padding-left: 10px;
        padding-right: 35px;
        img{
            width: 20px;
        }
    }
    .restaurant-desktop__location{
        font-size: 12px;
    }
    .restaurant-desktop__long{
        font-size: 12px;
    }
    .footer__phone {
        font-size: 20px;
    }
    .footer__ul{
        font-size: 13px;
    }
    .footer__h5{
        font-size: 11px;
    }
    .footer__stores--1{
        font-size: 12px;
        margin-right: 10px;
    }
    .footer__stores--padd{
        padding-left: 30px;
    }
    .footer__socials li{
        margin: 0 2px;
    }
    .footer__mail{
        padding-bottom: 20px;
    }
    .footer__days {
        font-size: 13px;
    }
    .announce__back{
        font-size: 9px;
    }
    .item__p{
        max-width: 260px;
    }
    .small-hidden{
        display: none;
    }
    .small-show{
        display: block;
    }
}
@media (max-width: 700px) {
    .nav__number{
        display: none;
    }
    .dispnone{
        display: block;
        margin: 20px auto 0;
    }
    .nav__ins{
        padding-right: 0;
        padding-left: 0;
    }
    .md-local{
        padding-left: 0;
    }
    .nav__logo{
        left: -15px;
    }
    .categories__filter-el{
        min-width: 300px;
        height: 150px;
    }
    .categories-info__parallax-el-6{
        top: 100px !important;
    }
    .categories-info__parallax-el-7{
        top: 85px !important;
    }
    .categories-info__parallax-el-8{
        right: -150px !important;
        bottom: -80px !important;
    }
    .categories-info__phone img{
        max-height: 20em;
    }
}
@media(max-width: 480px){
    .history__info-desk td{
        padding: 0 8px;
        font-size: 10px;
    }
    .history__info{
        padding: 5px 0;
    }
    .wrapper{
        margin-top: 52px;
    }
    .footer__stores--1{
        font-size: 12px;
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .popular{
        padding-top: 0;
    }
    .type{
        height: 120px;
    }
    .restaurant .flexbox{
        display: block;
    }
    .useful__btn{
        margin-top: 20px;
        display: inline-block;
    }

    .categories-info__phone{
        margin: 0 -0.7em;
    }
    .desktop{
        display: none;
        visibility: hidden;
    }
    .desk{
        display: none;
    }
    .mobile{
        visibility: visible;
    }

    .slider__title {
        font-size: 1.1em;
    }
    .slick-dots{
        bottom: 10px;
    }
    .slider__date {
        font-size: 0.5em;
        margin-top: 35px;
    }
    .slider__text{
        margin-top: 30px;
    }
    .slider__inner{
        height: 220px ;
    }
    .slick-dots li button:before{
        font-size: 30px;
    }
    .categories-info__phone img{
        max-height: 70vw;
    }
}
@media(max-width: 400px) {
    .description-info__title{
        font-size: 14px;
    }
    .item__checkout--info {
        font-size: 12px;
    }
    .history__info-desk td{
        padding: 0 5px;
    }
}
