.nav{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    height: 80px;
    vertical-align: middle;    
    // overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: 20;
    &__el{
        background: black;
        color: white;    
        position: absolute;
        width: 100px;    
    }
    &__localization{
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        font-size: 11px;
        text-transform: uppercase;
        color: #3F3F48;
        vertical-align: top;
        padding-top: 12px;
        padding-right: 40px;
        &-el{
            padding: 5px 2px 2px;
            margin: 0 5px;
            &.active{
                border-bottom: 2px #C2F62C solid;
                font-weight: 600;
            }
        }
    }
    &__number{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 26px;
        display: inline;
        vertical-align: middle;
        &-2{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            display: inline;
            vertical-align: middle;            
        }
    }
    &__events{
        padding-left: 30px;
        display: inline;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        font-size: 11px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #3F3F48; 
        img{
            margin-right: 10px;
        }
    }
    &__supp{
        display: inline;
        padding-left: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 13px;
        color: #505050;
        &-2{
            display: inline;
            padding-left: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 13px;
            color: #505050;            
        }
    }
    &__logo{
        text-align: center;
        position: relative;
        top: -15px;
    }
    &__account{
        display: inline-block;
        position: relative;
    }
    &__search{
        display: inline-block;
        padding-left: 20px;
        padding-right: 30px;
    }
    &__cart{
        display: inline-block;
        position: relative;
        &--price{
            z-index: 4;
            vertical-align: middle;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 15px;
            text-align: right;
            color: #282828;  
            position: relative;
            top: -7px;
        }
        &::before{
            content: '';
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
            height: 80px;
            position: absolute;
            top: -25px;
            right: -800px;
            left: -15px;
            z-index: 1;
        }        
        &--amount{
            display: inline-block;
            position: relative;
            top: -8px;
        }
    }

}
.search{
    background: #C2F62C;
    padding: 30px 0;
    &__wrapper{
        display: inline-block;
        width: 60%;
        position: relative;
    }
    &__text{
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #282828;
        display: inline-block;
    }
    &__btn{
        background: white;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        position: absolute;
        right: 0px ;
        top: 0px;
        vertical-align: middle;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
        img{
            vertical-align: middle;
        }
    }
    &__input{
        background: #FFFFFF;
        border-radius: 100px;
        border: none;
        width: 100%;
        padding: 15px 10px;
        display: inline-block;
        font-family: Rubik;
        vertical-align: middle;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        color: #505050;
        &::placeholder{
            color: white;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            display: inline-block;            
        }
         
    }
    &__confirm{
        margin-left: 5px;
        background: #3F3F48;
        color: white;
        padding: 12px 25px;
        border-radius: 100px;
        display: inline-block;
    }
}
.mobnav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 15px 0 0;
    &__item{
        padding-left: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        & *{
            vertical-align: middle;
        }
        img{
            margin-right: 10px;
        }
    }
    &__bot{
        text-align: center;
        background: #F1F8F8;
        max-width: 480px;
        padding-top: 15px;
        padding-bottom: 30px;
        a{
            padding-top: 20px;
            padding-left: 15px;
            display: block;
            color: #3F3F48;
            opacity: 0.75; 
            text-align: left;           
        }
    }
    #close{
        display: none;
    }
    &__hamburger{
        position: absolute;
        bottom: 0px;
        right: 10px;
    }
    &__bottom{
        background: #C2F62C;
        padding: 15px 0;
        img{
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    &__logo{
        height: 34px;
        position: relative;
        top: -5px;
    }
}

.notify_container {
    position: relative;
    display: inline-block;
    z-index: 4;
}

.notify_bubble {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    padding-top: 4px;
    color: #000000;
    font-size: 11px;
    border-radius: 50%;
    text-align: center;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#find{
input{
    width: 80vw;
    padding: 0 10px;
    height: 35px;
    font-size: 15px;
    position: absolute;
    left: 30px;
    top: -7px;
    z-index: 99;
    border: none;
}
.search-icon {
                z-index: 999;
				position: absolute;
				top: -4px;
				left: 8px;
				width: 25px;
                height: 25px;
                transform: scale(0.6);
				border-radius: 100%;
				background: #3F3F48;
				cursor: pointer;
				&:before, &:after {
					content: '';
					position: absolute;
					display: block;
				}
				&:before {
					width: 19px;
					height: 19px;
					background: white;
					border-radius: 10px;
					margin: 3px;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					-webkit-transition: all 0.1s ease;
					-moz-transition: all 0.1s ease;
					-o-transition: all 0.1s ease;
					-ms-transition: all 0.1s ease;
					transition: all 0.1s ease;
				}
				&:after {
					width: 3px;
					height: 15px;
					background: #3F3F48;
					border-radius: 4px;
					margin: 19px 0 0 21px;
					transform: rotate(-40deg);
					-webkit-transition: all 0.2s ease;
					-moz-transition: all 0.2s ease;
					-o-transition: all 0.2s ease;
					-ms-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				&.active {
					&:before {
						background: white;
						width: 3px;
						height: 14px;
						margin: 6px 0 0 11px;
					}
					&:after {
						width: 3px;
						height: 14px;
						background: white;
						margin: 6px 0 0 11px;
					}
				}
			}
}