/*
 * UI Button
 *  
 * Create UI Buttons using this module.
 *
 * Note: To create new type of button
 *       first extend '.btn-base'.
 */

/*
 * Base for all buttons 
 */

.btn-base{
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	-ms-touch-action: manipulation;
    touch-action: manipulation;
	
	/* Prevent user from selecting the UI element */
	.user-select(none);
}

/*
 * Simple button
 */

.btn{

	/* Extend base btn */
	color: white;
	padding: 2px 16px;
	background: transparent;
	border: 1px white solid;
	border-radius: 8px;
	font-size: 18px;
	display: inline-block;
	.transition(.2s all ease-out);
	&--big{
		padding: 12px 48px;
	}
}
