#topRight {
	margin-left: 60px;
  display: inline-block;
  vertical-align: middle;
}

#content {
	width: 800px;
	display: inline-block;
}

#logo{
	position: absolute;
	left: 8px;
	top: 0px;
	
	height: 46px;
	
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#search {
	background-image: url("/img/search.svg");
	background-size: cover;
  cursor: pointer;
	display: inline-block;
	
	width: 46px;
	height: 46px;
	
	margin-left: 8px;
	
	vertical-align: middle;
  
	transition: width 250ms ease-out, height 250ms ease-out, margin-left 250ms ease-out;
	-o-transition: width 250ms ease-out, height 250ms ease-out, margin-left 250ms ease-out;
	-moz-transition: width 250ms ease-out, height 250ms ease-out, margin-left 250ms ease-out;
	-webkit-transition: width 250ms ease-out, margin-left 250ms ease-out;
}

#searchbar{
  border-radius: 2px;
	font-family: 'Montserrat';	  
	width: 0px;
	height: 28px;
  color: black;
	background: white;
	border: none;
	
	transition: width 250ms ease-out, margin 250ms ease-out, padding 250ms ease-out;
	-o-transition: width 250ms ease-out, margin 250ms ease-out, padding 250ms ease-out;
	-moz-transition: width 250ms ease-out, margin 250ms ease-out, padding 250ms ease-out;
	-webkit-transition: width 250ms ease-out, margin 250ms ease-out, padding 250ms ease-out;
}
