/*
 * Socials
 *
 * Create reusable social elements
 * use font icons which you define 
 * in 'components/_icon.less'.
 */

.socials{
	display: inline-block;

	&__item{
		float: left;
		margin-right: 10px;

		&--last{
			margin-right: 0;
		}
	}	

	&__link{
		display: block;
		text-align: center;
		line-height: 40px;
		.size(40px, 40px);

		/* Font-icon */
		i{
			vertical-align: middle;
		}
	}

}